.nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &--guttered {
    margin-left: -1rem;
    margin-bottom: 0;

    > * {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  &--slim-gutters {
    margin-left: -0.5rem;
    margin-bottom: 0.5rem;

    > * {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &--guttered.no-margin {
    margin-bottom: -1rem !important;
  }

  &--slim-gutters.no-margin {
    margin-bottom: -0.5rem !important;
  }

  &__grow {
    flex-grow: 1;
  }
}
