.form-help {
  margin-bottom: 0;

  .form-row + .form-row > & {
    // crappy hack
    margin-top: -0.5rem;
  }

  .form-row + & {
    // another crappy hack
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  p, h1, h2, h3, h4, h5, h6, ol, ul {
    margin-bottom: 0.5rem;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-bottom: 0;
  }
}
